name: Build and deploy frontend
on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/deploy-frontend.yaml'
      - 'apps/frontend/**'
  workflow_dispatch:

defaults:
  run:
    working-directory: apps/frontend

jobs:
  test-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # ratchet:pnpm/action-setup@v4
        with:
          version: '10'
          package_json_file: apps/frontend/package.json
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://npm.pkg.github.com/'
          cache: 'pnpm'
          cache-dependency-path: apps/frontend/pnpm-lock.yaml
      - run: pnpm install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - run: pnpm run build
      - uses: nais/docker-build-push@v0
        id: docker-push
        with:
          team: appsec
          build_secrets: NODE_AUTH_TOKEN=${{ secrets.READER_TOKEN }}
          build_args: CACHE_BUST=${{ inputs.cachekey }}
          dockerfile: apps/frontend/Dockerfile
          docker_context: apps/frontend
          image_suffix: frontend
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: apps/frontend/.nais/nais.yaml
          IMAGE: ${{ steps.docker-push.outputs.image }}
  trivy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write # for dependency graph & sarif
      security-events: write # push sarif to github security
    needs: test-build
    steps:
      - uses: nais/login@v0
        with:
          team: appsec
      - name: Scan docker image for secrets
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8
        with:
          image-ref: '${{ needs.test-build.outputs.image }}'
          format: 'sarif'
          scanners: 'secret'
          output: 'trivy.sarif'
      - uses: github/codeql-action/upload-sarif@64d10c13136e1c5bce3e5fbde8d4906eeaafc885
        with:
          sarif_file: 'trivy.sarif'
